.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  .navbar{
    margin-bottom: 0;
    background-color: #000066;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.dropdown-menu{
	background-color: #000066;
}
.navbar li a, .dropdown-menu li a{
      color: #fff !important;
  }

.navbar-nav li a:hover, .navbar-nav li.active a , .dropdown-menu li a:hover{
    color: #000066 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}